name: CI

on:
    push:
        branches:
        - main
    pull_request:

jobs:
  Lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - nightly
    steps:
      - uses: actions/checkout@v1
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt
      - name: Run tests
        run: |
          cargo fmt --check

  Regressions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - nightly
    steps:
      - uses: actions/checkout@v1
      - name: Install LLVM and Clang
        run: |
          sudo apt update
          sudo apt install -y clang
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Run tests
        run: |
          git clone --recursive https://repo.or.cz/isl.git
          cd isl
          ./autogen.sh && ./configure
          cd ..
          cargo run --release
